MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@airflow-postgres/airflow
AIRFLOW__CORE__FERNET_KEY=vLGR1iZh5_hRGmjdgOVD8fA_sa3Vt_d3q3f2_4zMDpU=
